.centralCard {
    display: table;
    width: 100%;
}

.cardPokemon {
    margin: 0;
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

button {
    margin-top: 20px;
    margin-bottom: 28px;
    width: 90px;
    height: 60px;
    border-radius: 12px;
    color: green;
}

.inputPoke {
    background-color: gray;
    width: 90px;
    height: 20px;
    margin-right: 40px;
}